merlinquantum
pytest
regex
medmnist
pennylane
-e git+https://github.com/mit-han-lab/torchquantum.git#egg=torchquantum
pylatexenc>=2.10
qiskit==1.4.3; python_version < "3.13"
qiskit_ibm_runtime
qiskit-aer
torchpack
pathos
torchdiffeq
requests
aiohttp
opt_einsum